
Flask==0.12
Flask-MySQL==1.4.0
Flask-PyMongo==0.4.1
future==0.16.0
futures==3.0.5
gapic-google-cloud-datastore-v1==0.15.3
google-api-python-client==1.6.3
google-apitools==0.5.3
google-auth==0.10.0
google-auth-httplib2==0.0.2
google-cloud==0.24.0
google-cloud-bigquery==0.24.0
google-cloud-bigtable==0.24.0
google-cloud-core==0.24.0
google-cloud-datastore==1.0.0
google-cloud-dns==0.24.0
google-cloud-error-reporting==0.24.0
google-cloud-language==0.24.0
google-cloud-logging==0.24.0
google-cloud-monitoring==0.24.0
google-cloud-pubsub==0.24.0
google-cloud-resource-manager==0.24.0
google-cloud-runtimeconfig==0.24.0
google-cloud-spanner==0.24.0
google-cloud-speech==0.25.0
google-cloud-storage==1.0.0
google-cloud-translate==0.24.0
google-cloud-vision==0.24.0
google-gax==0.15.8
googleapis-common-protos==1.5.2
GoogleAppEngineCloudStorageClient==1.9.22.1
grpc-google-cloud-speech-v1beta1==1.0.1
grpc-google-iam-v1==0.11.1
grpcio==1.2.1
gsutil==4.24
h5py==2.7.1
httplib2==0.10.3
idna==2.5
Jinja2==2.9.5
jsonschema==2.6.0
Keras==2.0.6
matplotlib==2.0.2
numpy==1.12.1
oauth2client==4.1.2
pandas==0.20.3
pathlib2==2.3.0
pbr==2.0.0
Pillow==4.2.1
ply==3.8
portend==1.8
prompt-toolkit==1.0.15
Pygments==2.2.0
pymongo==3.4.0
PyMySQL==0.7.11
pyOpenSSL==16.2.0
pyparsing==2.2.0
pyserial==3.0.1
python-dateutil==2.6.1
python-firebase==1.2
python-gflags==3.1.1
