<!doctype html>
<html lang="en">
<head>

   <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MTT9XDQ');</script>
<!-- End Google Tag Manager -->


	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="static/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="static/assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{brand.upper()}} - Applied deep learnig for media and e-commerce companies. </title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
    
    <link href={{ url_for('static', filename='css/home/bootstrap.min.css') }} rel="stylesheet" />
    <link href={{ url_for('static', filename='css/home/material-kit.css') }} rel="stylesheet" />

</head>

<body class="presentation-page">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTT9XDQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	<nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-color-on-scroll" id="sectionsNav">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="index.html">{{brand.upper()}}</a>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
    				

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="material-icons">view_day</i> Applied Deep Learning
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu dropdown-with-icons">
							<li>
								<a href="productos.html#1">
									<i class="material-icons">apps</i> ClickStream TM
								</a>
							</li>
							<li>
								<a href="productos.html#2">
									<i class="material-icons">view_day</i> CrossPredict TM
								</a>
							</li>
							<li>
								<a href="productos.html#3">
									<i class="material-icons">view_carousel</i> GuideChat TM
								</a>
							</li>
						</ul>		
					</li>

					<li>
						<a href="#soluciones">
							<i class="material-icons">apps</i> Our clients
						</a>
					</li>

					<li>
						<a href="cnn/1112/prediktor/summary" target="_blank" class="btn btn-rose btn-round">
							<i class="material-icons"></i> Demo
						</a>
					</li>
        		</ul>
        	</div>
    	</div>
    </nav>

	<div class="page-header header-filter clear-filter" id="propuesta" data-parallax="active" style="background-image: url('static/assets/img/image1.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>
							MESSIAC
							<div class="pro-badge align-left">
								AI
							</div>

						</h1>
						<h3 class="title">Deep Learning Applied to E-Commerce and Media.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="main main-raised">
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="text-center"> <h3> LEARN FROM HISTORIC BEHAVIOR, PREDICT FUTURE ACTIONS. </h3></div>
						<h4 class="description text-center"> 
							We use Machine Learning to automate recommendations, predict your future customers steps and grow your business faster than the competition.
						</h4>
					</div>
				</div>

				<div class="features-1">
					<div class="row">
						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-rose">
									<i class="material-icons">apps</i>
								</div>
								<h4 class="info-title">GuideChat TM</h4>
								<p> Chat-bot to explain the news feeds or e-commerce products to your customers.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-info">
									<i class="material-icons">view_day</i>
								</div>
								<h4 class="info-title">ClickStream TM</h4>
								<p>Measure your user engagement in real time to trigger recommendations that maximize the user's profitability.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-success">
									<i class="material-icons">view_carousel</i>
								</div>
								<h4 class="info-title">CrossPredict TM</h4>
								<p> Maximize cross selling using deep learning, to trigger recommendations for each individual user. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--     *********    END FEATURES 5     *********      

https://www.google.com.ar/search?q=cool+graphic+data+images&tbm=isch&tbs=rimg:CXVeXYhFSJ9GIjiDXsmQiYDzCkQbNL_1c2EJV5xPf7u29ez9T7M_1ihq8sEVyOBh0PSTbagezlQruggHhK-bmJZlgB4SoSCYNeyZCJgPMKEUZTIGszr1oTKhIJRBs0v9zYQlURMRWmFE9yAIkqEgnnE9_1u7b17PxF4uhEJclUTnCoSCVPsz-KGrywREdvfm2jHD9_1vKhIJXI4GHQ9JNtoRq2ANEfrfETkqEgmB7OVCu6CAeBET52893-ln6CoSCUr5uYlmWAHhEdLSF-_1AAAti&tbo=u&sa=X&ved=0ahUKEwjp1Mjk3vDVAhUHkpAKHcWpACwQ9C8IHA&biw=1301&bih=678&dpr=1#imgrc=nEMS-zdidVDNiM: -->

		<!--     *********     FEATURES 5      *********      -->

		<div class="section section-overview">
			<div class="features-5"  style="background-image: url('static/assets-for-demo/features-5.jpg')">

				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="title">Artificial intelligence applications to maximize your growth.</h2>
				</div>

				<div class="container">
					<div class="row">

						<div class="col-sm-4">
							<div class="info">
								<div class="icon">
									<i class="material-icons">view_day</i>
								</div>
								<h4 class="info-title">Data models</h4>
								<p> Our tools read past and present user interactions to predict future actions in real time. </p>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="info">
								<div class="icon">
									<i class="material-icons">phonelink</i>
								</div>
								<h4 class="info-title">Recognize paterns automatically</h4>
								<p>We only need your data. Our Deep Learning is desigend to understand complex interactions.</p>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="info">
								<div class="icon">
									<i class="material-icons">access_time</i>
								</div>
								<h4 class="info-title">We minimize friction</h4>
								<p>Our product only require a Javascript code instalation on your website. </p>
							</div>
						</div>

						
					</div>

				</div>
			</div>

			<div class="section-testimonials team-3" id="soluciones">

				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h2 class="title"> Our Clients.</h2>
							<h5 class="description">
								Our clients learn for user behavior using <b>Machine Learning</b> to grow their business.
								</h5>
						</div>
					</div>


					<div class="our-clients">
						<div class="row">
							<div class="col-md-3">
								<img src="static/assets-for-demo/mercadolibre.png" alt="" />
							</div>
							<div class="col-md-3">
								<img src="static/assets-for-demo/dafiti.png" alt="" />
							</div>
							<div class="col-md-3"><br>
								<img src="static/assets-for-demo/latam.png" alt="" />
							</div>
							<div class="col-md-3">
								<img src="static/assets-for-demo/avenima.png" alt="" />
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>
	</div>


	</div>

	<div class="cd-section" id="contactus">

	<!--     *********    CONTACT US 1     *********      -->

	<div class="contactus-1 section-image" style="background-image: url('static/assets/img/examples/city.jpg')">

		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h3 class="title">Apply deep learning in your company.</h3>
					<h5 class="description"></h5>
					<div class="info info-horizontal">
						<div class="icon icon-primary">
							<i class="material-icons">pin_drop</i>
						</div>
						<div class="description">
							<h4 class="info-title">Offices Lat Am</h4>
							<p> Santiago de Chile: Santa Beatriz 91, primer piso, Providencia.</p>
							<p>	Buenos Aires, Argentina: Boulevard de la Bahía 180, Of. 507, Nordelta.</p> 
							
						</div>
					</div>

				</div>
				<div class="col-md-5 col-md-offset-2">
					<div class="card card-contact">
						<form role="form" id="contact-form" method="post">
							<div class="header header-raised header-primary text-center">
								<h4 class="card-title">Ask for a demo</h4>
							</div>
							<div class="content">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">Name</label>
											<input type="text" name="name" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">Email</label>
											<input type="email" name="email" class="form-control">
										</div>
									</div>
								</div>

								<div class="form-group label-floating">
									<label class="control-label">¿What problem do you need to solve?</label>
									<textarea name="message" class="form-control" id="message" rows="2"></textarea>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="checkbox">
											<label>
												<input type="checkbox" name="optionsCheckboxes">
												I'm not a robot!
											</label>
										</div>
									</div>
									<div class="col-md-6">
										<button type="submit" class="btn btn-primary pull-right">Send</button>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<footer class="footer footer-white">
		<div class="container">
			<a class="footer-brand" href="">{{brand.upper()}}</a>

			<ul class="pull-center">
				<li>
					<a href="index.html" target="_blank">
						MESSIAC DEEP LEARNING SOLUTIONS 2017 - IPH6 S.p.A
					</a>
				</li>
				<li>
					<a href="#productos" target="_blank">
					   Products
					</a>
				</li>
				<!--<li>
					<a href="#precios" target="_blank">
					   Precios
					</a>
				</li>-->
				<li>
					<a href="#contactus" target="_blank">
						Contact us
					</a>
				</li>
			</ul>

		</div>
	</footer>

	<!--     *********    END PRICING 5      *********      -->
</body>
	
	<!--   Core JS Files   -->
	<script src={{url_for('static', filename="js/home/jquery.min.js") }} type="text/javascript" ></script>
	<script src={{url_for('static', filename="js/home/bootstrap.min.js") }} type="text/javascript" ></script>
	<script src={{url_for('static', filename="js/home/material.min.js") }} type="text/javascript" ></script>
	


    <!-- Paper Dashboard PRO DEMO methods, don't include it in your project! -->

	<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src={{url_for('static', filename="js/home/nouislider.min.js") }} type="text/javascript" ></script>

	<!--	Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src={{url_for('static', filename="js/home/bootstrap-datepicker.js") }} type="text/javascript" ></script>
	

	<!--	Plugin for Select Form control, full documentation here: https://github.com/FezVrasta/dropdown.js -->
	<script src={{url_for('static', filename="js/home/jquery.dropdown.js") }} type="text/javascript" ></script>


	<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
	<script src={{url_for('static', filename="js/home/jquery.tagsinput.js") }} type="text/javascript" ></script>
	
	<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script src={{url_for('static', filename="js/home/jasny-bootstrap.min.js") }} type="text/javascript" ></script>

	<!-- Plugin For Google Maps -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->

	<script src={{url_for('static', filename="js/home/material-kit.js") }} type="text/javascript" ></script>

	<!-- Demo Purpose, JS For Demo Purpose, Don't Include it in your project -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>

	<script type="text/javascript">
		var $section_features = '';
		$().ready(function(){

		});
	</script>

</html>
