{% extends "layout.html" %}
{% block body %}

<script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>

<script>
(function(w,d,s,g,js,fs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));
</script>

<button id="auth-button" hidden>Authorize</button>

          <div class="content">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12">
              <h4 class="title">Today's recolection of data</h4>
                        <p class="category">
                         Latest user session's data and convertion probability calculation.
                         </p>

            <br>
                          <div class="card">
                              <div class="content">
                                  <div class="toolbar">
                                      <!--Here you can write extra buttons/actions for the toolbar-->
                                  </div>
                                    <div class="fresh-datatables">
                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>User Id</th>
                        <th>Browser Id </th>
                        <th>Duration</th>
                        <th>Scroll depth</th>
                        <th>Click count</th>
                        <th class="disabled-sorting">Probability</th>
                      </tr>
                    </thead>
                    <tfoot>


<script>

//if database is empty this function will return error
  console.log("probando");
  var config = {
    apiKey: "AIzaSyDUkZoY9nE97BRl1eGDWGuTdfnJX9X960c",
    authDomain: "neem-fs.firebaseapp.com",
    databaseURL: "https://neem-fs.firebaseio.com",
    projectId: "neem-fs",
    storageBucket: "neem-fs.appspot.com",
    messagingSenderId: "455316581334"
  };
  firebase.initializeApp(config);
  var database = firebase.database();
  console.log(database);

  
 //set parameters for process
var seconds = 3000;
var iterations = 0;
//var interval = setInterval(queryCoreReportingApi, seconds);

gapi.analytics.ready(function() {
  /**
   * Authorize the user with an access token obtained server side.
   */
  gapi.analytics.auth.authorize({
    'serverAuth': {
      'access_token': '{{tojen}}'
    }
      });

//configure analytics real time API access
  var profile_id = "159135697";
  response = gapi.client.analytics.data.realtime.get({
      'ids':'ga:' + profile_id,
      'metrics':'rt:totalEvents',
      'dimensions':'rt:eventAction,rt:eventLabel,rt:eventCategory', 
      'max_results':'25'})
  .then(function(response) {
//firebaselogin    
    (function(){
  var ref = database.ref('selection');
  console.log(ref);
  console.log(response.result.rows[i][1].objective)
// Bring snapshots of 30 seconds and persist to database
  for (var i = 0; i < response.result.rows.length; i++) {
    if (response.result.rows[i][0] == 30) { 
    var dbSelection = JSON.parse(response.result.rows[i][1]);
    console.log(dbSelection);
    ref.push(dbSelection)
    ;}}
// Bring all information and persist to database all object
  for (var i = 0; i < response.result.rows.length; i++) {
    var ref = database.ref('all'); 
    var dbAll = JSON.parse(response.result.rows[i][1]);
    console.log(dbAll);
    ref.push(dbAll)
    ;}  
}())
  }).then(null, function(err) {
      console.log(err);
  });
});


(function(){
                      var ref = database.ref('all');
                      ref.on('value', gotData, errData);
                      function gotData(data){
                      var registers = data.val();
                      var keys = Object.keys(registers);
                      for (var i = 0; i < keys.length; i++){
                        var k = keys[i];
                        var date = registers[k].date;
                        var clientId = registers[k].clientId;
                        var userId = registers[k].userId;
                        var timer = registers[k].timer;
                        if (timer == "") {timer = 1};
                        var mouseMax = registers[k].mouseMax;
                        if (mouseMax == "") {mouseMax = 0};                       
                        var clickCount = registers[k].clickCount;
                        if (clickCount == "") {clickCount = 1};
                        var objective = registers[k].objective;
                        if (objective == "") {objective = 0};
                        var tbl = document.getElementById("lista");
                        var tr = tbl.insertRow();
                    tr.insertCell().appendChild(document.createTextNode(date));
                    tr.insertCell().appendChild(document.createTextNode(userId));
                    tr.insertCell().appendChild(document.createTextNode(clientId));
                    //pass timer to day and hour
                    tr.insertCell().appendChild(document.createTextNode(timer));
                    tr.insertCell().appendChild(document.createTextNode(mouseMax));
                    tr.insertCell().appendChild(document.createTextNode(clickCount));
                    tr.insertCell().appendChild(document.createTextNode(objective));
                       }
                      }
                      
                      function errData(err){
                      console.log("Error error error");
                      console.log(err);
                          }
    
            }());


</script>

                  <tbody  id="lista">
                      
                    </tfoot>
                    </tbody>

                      </table>
                  </div>

                              </div>
                          </div><!--  end card  -->
                      </div> <!-- end col-md-12 -->
                  </div> <!-- end row -->
              </div>
          </div>
     
{% endblock %}
