{% extends "layout.html" %}
{% block body %}

<script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>

	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-12">
							<h4 class="title">Improve your recommendations</h4>
		                    <p class="category">
                         Maximize the duration of user's session by generating recommendations based on the Engagement Co-efficient.
		                     </p>

						            <br>
	                        <div class="card">
	                            <div class="content">
	                                <div class="toolbar">
	                                    <!--Here you can write extra buttons/actions for the toolbar-->
	                                </div>
                                    <div class="fresh-datatables">
										<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
										<thead>
											<tr>
												<th>Date</th>
                        <th>URL</th>
                        <th>Engagement Coefficient </th>
											</tr>
										</thead>
										<tfoot>
<script>
    				(function(){
                      //if database is empty this function will return error
                      var config = {
                        apiKey: "AIzaSyDUkZoY9nE97BRl1eGDWGuTdfnJX9X960c",
                        authDomain: "neem-fs.firebaseapp.com",
                        databaseURL: "https://neem-fs.firebaseio.com",
                        projectId: "neem-fs",
                        storageBucket: "neem-fs.appspot.com",
                        messagingSenderId: "455316581334"
                      };
                      //firebase.initializeApp(config);
                      firebase.initializeApp(config);
                      var database = firebase.database();
                      var ref = database.ref('recommendations');
                      ref.on('value', gotRecommendations, errData);
                      function gotRecommendations(data){
                      var registers = data.val();
                      var keys = Object.keys(registers);
                      var number = keys.length - 1;
                      for (var i = number; i >= 0; i--){
                        var k = keys[i];
                        var date = registers[k].date;
                        var url = registers[k].url;
                        var coefficient = registers[k].coefficient;
                        var tbl = document.getElementById("recommendations");
                        var tr = tbl.insertRow();
                    tr.insertCell().appendChild(document.createTextNode(date));
                    tr.insertCell().appendChild(document.createTextNode(url));
                    tr.insertCell().appendChild(document.createTextNode(coefficient));
                    //pass timer to day and hour
                       }
                      }
                      
                      function errData(err){
                      console.log("Error error error");
                      console.log(err);
                          }
    
            }());
				</script>				
							
										<tbody  id="recommendations">		
										</tfoot>
										</tbody>
									 </table>
									</div>

	                            </div>
	                        </div><!--  end card  -->
	                    </div> <!-- end col-md-12 -->
	                </div> <!-- end row -->
	            </div>
	        </div>
	   
	
{% endblock %}
